<main class='ArticleSelected'>
    <div class='ArticleSelected__header--aboutMe'>
        <!-- <img src="https://res.cloudinary.com/dyrpgj8od/image/upload/f_auto,q_auto/v1685048857/Blog/20230525_173528_mkorna.jpg" alt="foto de perfil" class="ArticleSelected__image--aboutMe" /> -->
        <h2 class="ArticleSelected__h2--aboutMe">UN POCO <br/> SOBRE MI</h2>
    </div>
    
    <div class='ArticleSelected__content'>
    
        <div class="ArticleSelected__imageContainer--aboutMe">
            <img src="https://res.cloudinary.com/dyrpgj8od/image/upload/f_auto,q_auto/v1685048857/Blog/20230525_173528_mkorna.jpg" alt="foto de perfil" class="ArticleSelected__image--aboutMe" />
        </div>
        <p>
            Soy un estudiante de 20 años apasionado por la tecnología. Actualmente me encuentro en el segundo año de mis estudios, pero ya cuento con objetivos y proyectos (este blog es uno de ellos) los cuales abordar durante la carrera. 
            <br />
            No solo me interesa la tecnología, sino que en el 2022 comenzaron a llamarme la atención los libros de desarrollo personal. Comencé con el famoso <i>"Padre rico, padre pobre"</i> de Robert Kiyosaki, el cual fue el inicio de muchos, y luego continue con <i>"Hábitos Atómicos"</i> de James Clear. Con estos libros cambie la mentalidad que tenia acerca de la vida, por lo que comencé a implementar todos los conocimientos obtenidos de estos libros y a profundizar mas.
        </p>

        <p>
            Soy una persona que siempre está en movimiento. Me gusta mantenerme en forma, jugar al futbol, entre otras actividades físicas. También, me gusta mucho la tecnología y aprender cosas nuevas todos los días, para poder seguir creciendo y puliendo mis habilidades. 
            <br />
            Intento mantener el equilibrio entre estas actividades, ya que hay días en los que estoy durante mucho tiempo sentado, ya sea leyendo, programando o estudiando, y eso me quita demasiado las ganas de entrenar. Pero eso es lo que me motiva a seguir adelante.
        </p>

        <p>
            La finalidad de este blog es promover todos los conocimientos adquiridos y como es mi estilo de vida. Puedes tomarlo como un blog de tecnología, un blog de desarrollo personal o un blog de reflexiones, pero lo importante es que yo pueda compartir mis pensamientos y, a su vez, los mismos sean de utilidad para alguien.
            <br />
            Este blog es una forma de expresarme y desahogarme un poco sobre algunos temas de interés. Solo son opiniones sinceras sobre lo que pienso, puedes tomarlo o dejarlo. Me falta demasiado camino que recorrer para poder dar una opinión clara y precisa sobre la mayoría de los temas que toco aquí.
            <br />
            Gracias a este blog puedo combinar todos los temas que me interesan y también estoy puliendo mis habilidades como programador, que justamente eso es a lo que quiero dedicarme en el futuro
        </p>

        <p>
            Disfruto de la vida, pero también soy consciente de que soy el único responsable de mi camino. Mi futuro depende absolutamente de mí, de nadie más. 
            <br />
            Es por esa razón que cuando puedo disfrutar y relajarme lo hago, pero cuando hay que trabajar estoy dispuesto a entregarme a ello. No siempre sucede eso, pero es en lo que trabajo día a día y la razón por la que trabajo tan duro. Ya es rutina la lucha contra la <i>procrastinación</i> 😁. 
            <br />
            Es reconfortante quedarse en la cama, es entretenido jugar un videojuego con amigos, es agradable tomarse una cerveza bien fría (o un fernecito 🤤) un viernes a la noche, pero la diferencia se encuentra en saber cuando hacerlo y tampoco abusar de ello.
        </p>


        <h3>Estudios</h3>
        <p>
            Actualmente me encuentro estudiando una carrera terciará en el instituto 130 de Olavarria, Buenos Aires.
            <br />
            La carrera es "Analista de sistema", donde actualmente me encuentro en el segundo año de cursada. Es un lindo lugar, donde conocí a varias personas agradables e interesantes.
            <br />
            Profundizando más a fondo en la carrera creo que algunas materias dejan mucho que desear, pero la verdad que estoy contento estudiando ahí. Me hice de algunos buenos amigos y tengo tiempo para dedicarle a mis proyectos personales, a la familia, a mis entrenamientos, entre otras actividades.
            <br />
            Siento muchas ganas de adentrarme en el mundo IT. Este año (2023) comienzo las prácticas. No puedo esperar lo que se viene, seguro conoceré a gente interesante y aprenderé muchísimo. La verdad que este año va a ser muy importante para definir un camino en mi vida.
        </p>

    </div>
</main>