<main class='ArticleSelected'>
    <div class='ArticleSelected__header--aboutMe'>
        <img src="https://res.cloudinary.com/dyrpgj8od/image/upload/v1676645037/20230217_111901_1_a4kkm6.jpg"alt="foto de perfil" class="ArticleSelected__image--aboutMe" />
        <h2 class="ArticleSelected__h2--aboutMe">UN POCO <br/> SOBRE MI</h2>
    </div>
    
    <div class='ArticleSelected__content'>
    
        <p>
            Soy un estudiante de 20 años apasionado por la tecnología. Actualmente me encuentro en el segundo año de mis estudios, pero ya cuento con objetivos y proyectos (este blog es uno de ellos) los cuales abordar durante la carrera. 
            <br />
            No solo me interesa la tecnología, sino que en el 2022 comenzaron a llamarme la atención los libros de desarrollo personal. Comencé con el famoso <i>"Padre rico, padre pobre"</i> de Robert Kiyosaki, el cual fue el inicio de muchos, y luego continue con <i>"Hábitos Atómicos"</i> de James Clear. Con estos libros cambie la mentalidad que tenia acerca del dinero, de la vida y de los hábitos, por lo que comencé a implementar todos los conocimientos obtenidos de estos libros y a profundizar mas.
        </p>

        <p>
            Tengo dos hobbies que no los cambio por nada en el mundo, los cuales son el  <i>futbol</i> y la <i>programación</i>. Son mi todo. Estas dos cosas me apasionan, aunque sean dos extremos. Soy un fanático del deporte, pero también me gusta estar en mi habitación trabajando en un proyecto durante horas. Eso es a lo que me voy a dedicar, y el futbol es un hobby que me ayuda a mantenerme en forma.
        </p>

        <p>
            Ahora que me conocen un poco mas, quiero explicarles la finalidad de este blog. <br /> 
            Lo que yo busco es promover todos los conocimientos que he adquirido, y voy a adquirir, para todas esas personas que quieren superarse día a día. Quiero lograr que a todo el mundo la cabeza la haga un clic y comiencen a emprender este camino tan lindo del desarrollo personal. <br />
            No crean que todo lo que escribo aquí es verdad. Lo que quiero hacer es compartir mis conocimientos y opinión sobre ciertos aspectos, pero eso no quiere decir que mi opinión sea la correcta. Quiero dejar eso en claro para no generar ningún tipo de conflicto. Estoy abierto a cualquier comentario o duda acerca del contenido que publico. Pueden enviarme un email en la sección de <a href="/contact">Contacto</a> o comunicarse a través de las redes sociales, las cuales las pueden encontrar en la parte de abajo
            <br />
            Con este blog puedo mezclar las dos cosas que mas me interesan. Los libros y la programación.
        </p>


        <h3>Estudios</h3>
        <p>
            Actualmente me encuentro estudiando una carrera terciaria de analista de sistemas en el instituto 130 de mi ciudad - Olavarría, Buenos aires.
            <br />
            Como dije anteriormente, me encuentro en el primer año de la carrera, de los cuales son 3. En el 2020 estuve cursando la carrera de ingeniería de sistemas en UNICEN, pero como esa carrera no me dejaba mucho tiempo libre, la deje para poder dedicarle tiempo a otros proyectos mientras estudiaba otra carrera, también relacionada al ámbito tecnológico. Y así fue como entre en la carrera que me encuentro actualmente
        </p>

    </div>
</main>