<div class="MainCard">
    <img class="MainCard__img" src="assets/logo.png" loading="lazy" alt="Portada de blog" /> 
    
    <div class="MainCard__text">
        <h2 class="MainCard__h2">BIENVENIDO A MI BLOG</h2>
        <p class="MainCard__p">Aquí encontrarás información interesante y de mucha utilidad. De gran ayuda para estudiantes y personas que buscan superarse día a día. <br />
        Espero que lo disfrutes tanto como yo lo hice.</p>
        <span class="MainCard__span">- Lautaro Silverii</span>
    </div>
</div>

<main class="ArticlesPage__main" style="margin-top: 8em;">
    <div class="ArticlesPage__articlesContainer">
        <h2 class="ArticlesPage__h2">ARTICULOS</h2>
        <% [0,1,2,3].forEach(element => { %> 
            <div class="Skeleton__articleCard">
                <div class="Skeleton__articleCard--image Skeleton__articleCard--div"></div>
                <div class="Skeleton__articleCard--date Skeleton__articleCard--div"></div>
                <div class="Skeleton__articleCard--title Skeleton__articleCard--div"></div>
            </div>
        <% }) %> 
        <Pagination />
    </div>
    <article class="LastBooks">
        <h2 class="MainSection__h2 LastBooks__h2">ULTIMOS LIBROS LEIDOS</h2>
        <% [0,1,2,3].forEach(element => { %> 
            <div class="Skeleton__bookCard">
                <div class="Skeleton__bookCard--image Skeleton__bookCard--div"></div>
                <div class="Skeleton__bookCard--title Skeleton__bookCard--div"></div>
            </div>
        <% }) %> 
    </article>
</main>