.ArticleSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7E0D2;
    margin-top: 12em;
    padding-bottom: 7em;
    position: relative;
    max-width: 100%;

    &__header--aboutMe{
        display: flex;
        place-items: end center;
        gap: 1em;
        margin-top: -7em;
        margin-bottom: 3em;

        & img{ width: 13em; box-shadow: 0 0 5px rgba(0,0,0,0.7) }
    }
    &__h2--aboutMe{ text-decoration: underline .07em; font-size: 4em; margin-bottom: .6em; }

    &__headerImage{
        max-width: 100%;
        width: 40em;
        height: 22em;
        margin-top: -7em;
    }

    &__imageOwner{
        position: absolute;
        right: 28%;
        top: -8.5em;
        color: rgb(102, 101, 101);
    }

    &__infoContainer{
        max-width: 100%;
        width: 30em;
        display: flex;
        justify-content: space-around;
        margin-top: .4em;

        & span{ color: rgb(146, 146, 146); font-weight: 300; }
        & .category:hover{ color: rgb(49, 49, 49); }
    }

    &__h2{
        font-size: 2.7em;
        margin: .4em 0 0em 0;
        text-align: center;
        max-width: 80%;
    }

    &__writer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.5em;
        margin-top: .3em;
        margin-bottom: 2em;
    }

    &__writerImage{ border-radius: 50%; border: 1px solid #4d4d4d; width: 30px; }

    &__writerSpan{
        font-size: 1.5em;
        color: rgb(128, 126, 126);
    }

    &__content{
        max-width: 850px;
        width: 100%;
        padding: 0 3em;

        & a{ font-weight: 400; color: rgb(75, 75, 161); }

        & p {
            width: 100%;
            line-height: 150%;
            text-align: justify;
            font-size: 1.2em;
            color: rgb(102, 101, 101);
        }

        & ul{ margin-left: 40px; }
        & li{
            list-style: disc;
            color: rgb(54, 54, 54);
            font-size: 1.1em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            & > ul > li{ list-style: circle }
        }
        
        & blockquote{ 
            width: fit-content; 

            align-self: baseline; 
            margin: .2em 0 .2em 1em;
            border-left: .3em solid #94B49F; 
            padding: .4em 0.3em;

            & p { margin: 0; color: rgb(102, 101, 101) }
        }

        & img{ width: 100%; }

        & p > code{
            background-color:rgb(53, 53, 53);
            border-radius: .3em;
            padding: .3em;
            color: #94B49F;
            color: #cacaca;
            vertical-align: middle;
        }
        

        & pre{
            background-color: rgb(29, 29, 29);
            padding: 1em;
            max-width: 100%;
            border-radius: .5em;
            overflow-x: scroll;

            &::-webkit-scrollbar { width: 5px }
              
            &::-webkit-scrollbar-track { background: rgb(29, 29, 29)}
            
            &::-webkit-scrollbar-thumb {
            background-color: rgb(105, 105, 105);   
            border-radius: 25px;       
            border: 7px solid rgb(29, 29, 29);  
            }

            & code { padding: .2em; color: #cacaca }
        }   

        & table {
            border-collapse: collapse; 
         & th { padding: 5px 20px 5px 3px; text-align: left; }
         & td { padding: 5px 20px 5px 3px; text-align: left; }
        }
    
    } 

}

//-------------------------------------------------------------------------------
//------------------------------ @MEDIA QUIERIES --------------------------------
//-------------------------------------------------------------------------------
@media screen and (max-width:1050px){ .Main__imageOwner{ right: 20% } }

@media screen and (max-width:750px){
    .ArticleSelected{
        margin-top: 5em;

        &__h2{ max-width: 100% }

        &__imageOwner{ right: 1em; top: -1.5em; }

        &__headerImage{ width: 100%;  margin-top: 0 }
        &__header--aboutMe{ margin-top: -4em; }
        &__h2--aboutMe{ font-size: 3em; }
        &__image--aboutMe{ margin-top: 1em; margin-left: 1em;  width: 10em; height: 16em }
        
        &__content{ padding: 0 3em; }
    }

    .imagesContainer{
        &__img1, &__img2{ width: 15em; height: 10em } 
    }
     
}

@media screen and (max-width:500px){

    .ArticleSelected__header--aboutMe{ 
        margin-top: -3em;
        margin-bottom: .8em;
    
        & img{ width: 8em; height: 10em; }
    }
    .ArticleSelected__h2--aboutMe{ font-size: 2.2em; }


    .imagesContainer{
        &__img1, &__img2{ width: 12em; height: 8em; } 
        &__img2{ margin-top:2em }
    }
}

@media screen and (max-width:420px){
    .imagesContainer{
        &__img1, &__img2{ width: 8em; height: 6em; }
    }

    .ArticleSelected{
        &__headerImage{ height: 17em}
        &__h2{ font-size: 2em }
        &__createdBy{ font-size: 1.2em; }

        &__content{ 
            //width: 90%;
            & blockquote p{ font-size: 1em }
        }
    }
}