@keyframes skeleton-animation {
    0%{ opacity: 1 }
    25%{ opacity: 0 }
    50%{ opacity: 1 }
    75%{ opacity: 0 }
    100%{ opacity: 1 }
}

.Skeleton{
    position: relative;

    &__span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5em;
    }
    &__articleCard{
        width: 100%;
        height: 20em;
        overflow: hidden;
        @include flex(start, start, column);
        gap: .5em;

        //------ Animation
        animation: skeleton-animation;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;

        & > div{ background-color: rgba(0,0,0,0.3) }
        &--image{ width: 100%; height: 70% }
        &--date{ width: 30%; height: 5% }
        &--title{ width: 100%; height: 10% }
    }

    &__bookCard{
        width: 120px;
        height: 240px;
        overflow: hidden;
        @include flex(start, start, column);
        gap: .5em;

        //------ Animation
        animation: skeleton-animation;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;

        & > div{ background-color: rgba(0,0,0,0.3) }
        &--image{ width: 100%; height: 80% }
        &--title{ width: 100%; height: 10% }
    }

}

//------------------------ MESSAGE CARD
.MessageCard{
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 30em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    transition: transform .4s ease-in;
    transform: translateX(110%);

    &__icon{ font-size: 3em }
    
    &--active{ transform: translateX(0) }
    &--ok{ background-color: rgba(76, 131, 76, 0.719) }
    &--error{ background-color: rgba(110, 62, 62, 0.678) }

}

.Error{
    @include flex(center,center,column);
    margin: 8em 0;

    &__title{
        @include flex(center,center, row);
        gap: 1em;

        & > h3{ font-size: 3em; }
    }
    &__p{ color: $secundary-color-text }

    &__button{
        & > a{ color: $primary-color-text; line-height: 180%; padding: 1em; }
    }
}