@mixin flex($jc:center, $ai:center, $fd:row){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin grid($jc:center, $ac:center){
    display: grid;
    justify-content: $jc;
    align-content: $ac;
}

@mixin grid-templates($columns:1fr, $rows:1fr, $gap:1em){
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}