<header class="Header">

    <div class="Header__circles" id="headerCircles">
        <div class="Header__circle" style="background-color:'#86B97E'"></div>
        <div class="Header__circle" style="background-color:'#f0c988'"></div>
        <div class="Header__circle" style="background-color:'#ec8d87'"></div>
    </div>

    <nav class="Header__menu">
        <span><a class="Header__a" href="/">INICIO</a></span>
        <span><a class="Header__a" href="/sobremi" >SOBRE MI</a></span>
        <span><a class="Header__a" href="/articulos" >ARTICULOS</a></span>
        <span><a class="Header__a" href="/contacto" >CONTACTAME</a></span>
    </nav>

</header>    